<template>
  <div class="orders-side-menu">
    <ul class="orders-list">
      <li
        v-for="order in orders"
        :key="order.pk"
        :class="(selectedOrder && order.pk === selectedOrder.pk) ? 'selected' : ''"
        @click="getOrder({ params: order })"
        >
        <Status :status="order.status" :verbose="false" />
        <span>
          {{ order.name }}
        </span>
        <span styles="float: right;">
          {{ formatDatetime(order.created) }}
        </span>
      </li>
    </ul>
    <ul class="orders-list-filter">
      <li
        @click="toggleStatus(true)"
        :class="isStatusSelected(true) ? 'selected' : ''"
        >
        <Status :status="{ id: true }" />
      </li>
      <li
        @click="toggleStatus(false)"
        :class="isStatusSelected(false) ? 'selected' : ''"
        >
        <Status :status="{ id: false }" />
      </li>
    </ul>
  </div>
</template>

<script>
import { mapState, mapActions } from 'vuex'
import Status from '@/components/Status.vue'
import commonMixins from '@/mixins'

export default {
  name: "OrdersList",
  mixins: [commonMixins],
  components: {
    Status,
  },
  computed: mapState({
    orders: state => state.orders.orders,
    ordersParams: state => state.orders.ordersParams,
    selectedOrder: state => state.orders.selectedOrder,
  }),
  methods: {
    ...mapActions('orders', [
      'getOrder',
      'listOrders',
    ]),
    isStatusSelected(status) {
      return this.ordersParams.status === status;
    },
    toggleStatus(status) {
      this.listOrders(
        this.isStatusSelected(status)
          ? {}
          : { params: { status } }
      );
    },
  },
};
</script>

<style scoped>
.orders-side-menu {
  flex: 1 0 0;
  display: flex;
  flex-direction: column;
}

.orders-side-menu ul li.selected {
  background: #f6fcc4;
}

.orders-side-menu ul li {
  min-height: 40px;
  text-align: left;
  padding-left: 8px;
}

ul.orders-list {
  height: calc(100% - 80px - 16px);
}
</style>
