<template>
  <div class="order-detail">
    <div class="order-detail-head">
      <table v-if="selectedOrder">
        <tr><th>Number:</th><td>{{ selectedOrder.name }}</td></tr>
        <tr><th>Date:</th><td>{{ formatDatetime(selectedOrder.created) }}</td></tr>
        <tr><th>Status:</th><td><Status :status="selectedOrder.status" /></td></tr>
        <tr><th>Total:</th><td>{{ selectedOrder.total }} $</td></tr>
      </table>
    </div>

    <div class="order-detail-items">
      <ul v-if="selectedOrder">
        <table>
          <tr>
            <th>Product Name</th>
            <th>Qty</th>
            <th>Price</th>
            <th>Total</th>
          </tr>
          <tr v-for="item in selectedOrder.items" :key="item.pk">
            <td>{{ item.product.name }}</td>
            <td>{{ item.qty }}</td>
            <td>{{ item.product.price }} $</td>
            <td>{{ item.qty * item.product.price }} $</td>
          </tr>
        </table>
      </ul>
    </div>
  </div>
</template>

<script>
import { mapState } from 'vuex'
import Status from '@/components/Status.vue'
import commonMixins from '@/mixins'

export default {
  name: "OrderDetails",
  mixins: [commonMixins],
  components: {
    Status,
  },
  computed: mapState({
    selectedOrder: state => state.orders.selectedOrder,
  }),
};
</script>


<style scoped>
.order-detail {
  flex: 4 0 0;
  display: flex;
  flex-direction: column;
}

.order-detail-head {
  flex: 1 0 0;
}

.order-detail-head table {
  width: 100%;
}

.order-detail-head table th {
  width: 100px;
}

.order-detail-items {
  flex: 4 0 0;
}

.order-detail-items table tr {
  border-bottom: 1px solid black;
}

.order-detail-items table {
  width: 100%;
}
</style>
