<template>
  <div class="container">
    <OrdersList />
    <OrderDetails />
  </div>
</template>

<script>
import { mapActions } from 'vuex'
import OrdersList from '@/components/OrdersList.vue'
import OrderDetails from '@/components/OrderDetails.vue'

export default {
  name: "Orders",
  components: {
    OrdersList,
    OrderDetails,
  },
  methods: mapActions('orders', ['listOrders']),
  created() {
    this.listOrders();
  }
};
</script>

<style>
.container {
  display: flex;
  width: 100%;
  height: 100%;
}

ul {
  padding-inline-start: 0px;
  list-style: none;
  margin: 0px;
  margin-top: 8px;
}

th, td {
  text-align: left;
  padding-left: 8px;
}

table {
  border-collapse: collapse;
}

tr {
  height: 40px;
}

.orders-side-menu, .order-detail-head, .order-detail-items {
  border: 1px solid black;
  margin: 8px;
  background: #fcffe5;
}
</style>
