<template>
  <div>
    <span
      class="status-dot"
      :class='status.id ? "pink" : "green"'>
    </span>
    <span v-if="verbose">
      {{ status.id ? "Complete" : "In progress" }}
    </span>
  </div>
</template>

<script>
export default {
  props: {
    status: {
      type: Object,
      required: true,
    },
    verbose: {
      type: Boolean,
      default: true,
    },
  },
};
</script>

<style scoped>
div {
  display: inline;
}

.status-dot {
  height: 16px;
  width: 16px;
  border-radius: 50%;
  display: inline-block;
}

.pink {
  background: pink;
}

.green {
  background: green;
}
</style>
